/** @format */

.page {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page h2 {
  position: relative;
  color: var(--darktext);
}

@keyframes down {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
}

.page h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0%;
  height: 2px;
  background-color: var(--darktext);
  transition: right 0.8s ease;
  animation: down 4s infinite;
}
.page div {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  justify-content: center;
}
.circle {
  height: 90px;
  max-width: 130px;
  border-radius: 50%;
  border-left: 5px solid var(--dark-primary);
  /* border-right: 5px solid var(--dark-primary); */
  border-top: 5px solid var(--dark-primary);
  display: flex;
  color: var(--darktext);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: rgba(50, 50, 93, 0) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0) 0px 30px 60px -30px, var(--dark-primary) 0px -2px 6px 0px;
}
@media screen and (max-width : 450px) {
  .circle{
    height: 45px;
    max-width: 100px;
    border-radius: 10%;
  }
}