/** @format */

.NavArea {
  height: 10vh;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid var(--background);
  background-color: var(--background);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}
.NavAreaLogo {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 50px;
}
.navAreaListItems {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.navAreaListItem {
  color: var(--darktext);
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  font-weight: bold;
}
.navAreaListItem::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: right 0.8s ease;
}

.navAreaListItem:hover::before {
  right: 0;
}

.navAreaContact {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 8px;
}
.navAreaContact:hover {
  color: rgb(229, 96, 96);
  text-decoration: underline;
}
.sideIcon {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  div {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: contain;
    border: 1.5px solid var(--primary-color);
    background-image: url(../../public/images/profilebw.png);
    background-size: 2.55rem;
    background-position: center;
    overflow: hidden;
  }
}

.menuIcon {
  display: none;
  color: var(--black);
  margin: 0 10px;
}
.navRightPart {
  display: flex;
  align-items: center;
}

.navAreaListItem:last-child {
  position: relative;
}

.themesModal {
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 1;
}
.themesModal div {
  height: 100vh;
  width: 100vw;
  background-color: #000000d4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  color: white;
}
.bothLists {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.themesModal div span ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.themesModal div span ul li {
  height: 2rem;
  width: 150px;
  border-radius: 1rem;
  z-index: 100;
}
.icon {
  color: var(--primary-color) !important;
}

@media screen and (max-width: 450px) {
  .NavArea {
    height: 4rem;
  }
  .navAreaListItems {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 2.5rem;
    background-color: var(--primary-color);
    margin: 1rem 1rem;
    padding: 1rem 3rem;
    z-index: 100;
    color: var(--darktext) !important;
  }
  .navAreaListItem a {
    color: var(--text-light);
  }
  .navRightPart {
    gap: 5px;
  }
  .navAreaListItem {
    margin: 0;
  }
  .navAreaListItem svg {
    font-size: 2rem !important;
  }
  .menuIcon {
    display: inline;
    cursor: pointer;
  }
  .menuIcon svg {
    font-size: 2.5rem !important;
    margin-top: 3px;
  }
  .themesModal {
    top: 0;
    right: 1rem;
  }
  .bothLists {
    gap: 1rem;
  }
  .bothLists ul {
    list-style-type: none;
  }
}
