/** @format */

:root {
  --primary-color: #ab8a15;
  --secondary-color: #feefff;
  --tertiary-color: #feeeff;
  --dark-primary: #ffffff;
  --light-transparent: #4cafe7a8;
  --text: #ffffff;
  --background: #2a2a2a;
  --darktext: #ffffff;
  --background-light: #5a5a5a;
  --darkgray: #161b22;
  --background-gradient-mask: linear-gradient(
    to bottom,
    #6a6a6a 15%,
    transparent 85%
  );
}

/* :root {
  --primary-color: #2e7d4c;
  --secondary-color: #252323;
  --tertiary-color: #2e7d4ce3;
  --dark-primary: #1d7041;
  --light-transparent: #e74c3ca8;
  --text: #ffffff;
  --background: #1f3028;
  --darktext: #ffffff;
  --background-light: #e67e22;
  --darkgray: #161b22;
  --background-gradient-mask: linear-gradient(
    to bottom,
    #2e7d4c 15%,
    transparent 85%
  );
} */
/*
@media screen and (max-width: 630px) {
  :root {
    --primary-color: #feffff;
    --secondary-color: #feefff;
    --tertiary-color: #feeeff;
    --dark-primary: #687eff;
    --light-transparent: #5b73fba8;
    --text: #f0f0f0;
    --background: whitesmoke;
    --darktext: #131313;
    --background-light: #0585b3;
    --darkgray: #2a2a2a;
    --background-gradient-mask: linear-gradient(
      to bottom,
      #80b3ff 15%,
      transparent 85%
    );
  }
} */
/* :root {
  --primary-color: #2e7d4c;
  --secondary-color: #4caf50;
  --tertiary-color: #2e7d4ce3;
  --dark-primary: #1d7041;
  --light-transparent: #4caf50a8;
  --text: #f0f0f0;
  --background: whitesmoke;
  --darktext: #131313;
  --background-light: #0585b3;
  --darkgray: #2a2a2a;
  --background-gradient-mask: linear-gradient(
    to bottom,
    #4caf50 15%,
    transparent 85%
  );
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
}
body {
  height: max-content;
  z-index: -2;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: var(--background) !important;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.text_blue {
  color: var(--primary-color);
}

.text_red {
  color: rgb(162, 6, 6);
}

.text_normal {
  color: var(--darktext);
}

.text_white {
  color: var(--text) !important;
}

.text_orange {
  color: var(--primary-color);
}
.bold {
  font-weight: bold !important;
}

a {
  text-decoration: none;
  color: var(--text);
}

.social_media_icons {
  height: 100% !important;
  width: 100% !important;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-element {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.moved {
  opacity: 1;
  transform: translate(0, 0);
}

.move-left {
  transform: translateX(-15px);
}

.move-right {
  transform: translateX(15px);
}

.move-top {
  transform: translateY(-15px);
}

.move-bottom {
  transform: translateY(15px);
}

.move-left,
.move-right,
.move-top,
.move-bottom {
  animation: moveElement 0.5s ease-out forwards;
}

@keyframes moveElement {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Home styles using variables */

.home {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  margin-top: 10vh;
}

.home_intro_area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_intro_area p {
  margin: 5px 0;
  width: 70%;
}

.home_intro_area button {
  padding: 7px 15px;
  background-color: var(--dark-primary);
  color: #fff;
  font-size: 1.3rem;
  width: max-content;
  border: transparent;
  border-radius: 3px;
  margin-top: 8px;
}

.home_image_area {
  width: 350px;
  height: calc(100vh - 72px);
  display: flex;
  align-items: flex-end;
  margin-top: -15vh;
  background: var(--background-gradient-mask);
  z-index: -1;
}

.home_image_circle {
  width: 350px;
  height: 350px;
  /* background-color: var(--light-transparent); */
  border-radius: 50%;
  overflow: hidden;
}

.home_masked_profile {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -80px;
}
.homeicons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-end;
  margin-top: 10%;
  margin-bottom: -10%;
}
.home_icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.7rem;
  max-width: 100px;
  height: 80px;
  padding: 10px 20px;
  width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--darktext);
  color: var(--dark-primary);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.home_icon:hover {
  border: 2px solid var(--dark-primary);
  color: var(--darktext);
  transform: scale(1.1);
}

/* About styles using variables */

.about_main_div {
  /* height: 90vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
}

.about_upper_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; */
}

.about_left_div {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.about_left_div img {
  object-fit: fill;
  height: 90vh;
  width: 25vw;
  margin-left: 5vw;
}

.about_left_div div {
  height: 2px;
  width: 100%;
  background-color: var(--dark-primary);
  opacity: 0.3;
}

.about_right_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 8rem;
  overflow-y: scroll;
  margin: auto;
}

.about_right_div h1 {
  color: var(--dark-primary);
  text-align: center;
}

.about_right_div div {
  display: flex;
  gap: 15px;
}
.about_right_div div p {
  color: var(--darktext);
  font-size: 1rem;
  opacity: 1;
}

.about_lower_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.about_lower_first_row {
  display: flex;
  gap: 20px;
}

.about_lower_second_row {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.about_lower_second_row div {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
}

/* Education styles using variables */

.education {
  padding: 8vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}

.ed_description {
  width: 100%;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.ed_description {
  width: 100%;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.ed_main_row {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
}
/* .ed_edFullBox {
  width: 30%;
  background-color: var(--dark-primary);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  height: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */

.ed_edFullBox {
  width: 30%;
  background-color: var(--background);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  height: 20rem;
  background: #212121;
  background: linear-gradient(145deg, #232323, #1e1e1e);
  box-shadow: 10px 10px 20px #111111, -10px -10px 20px #313131;
  transition: transform 0.5s ease-in-out;
}

.ed_edFullBox.loaded {
  transform: translateY(5);
}

.ed_edFullBox.loading {
  transform: translateY(-10px); /* or any other value you prefer */
}

.education_timeline {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  width: 60%;
}

.education_line {
  height: 3px;
  width: 100%;
  background-color: var(--dark-primary);
}

.education_timeBoxes {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.education_timeBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.ed_box {
  height: 20px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ed_circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid var(--dark-primary);
  cursor: pointer;
}

.ed_lines {
  width: 1px;
  height: 50px;
  background-color: var(--dark-primary);
}
.full_ed_button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.full_ed_button button {
  width: fit-content;
  box-shadow: 0 1px 2px #00000031;
  padding: 0.5rem;
  border: 0;
  color: var(--darktext);
  font-size: 1rem;
  margin-left: 3rem;
  background-color: var(--background);
  cursor: pointer;
}

/* Experience */

.exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  padding-top: 5vh;
}
.exp h1,
.exp h6 {
  color: var(--darktext);
  margin: 3px 20px;
}

.exp_list_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp_item {
  width: 70%;
  display: flex;
  gap: 3rem;
}
.exp_timeline_icon {
  margin-top: 2.5rem;
}
.exp_timeline_icon svg {
  font-size: 4rem !important;
  color: var(--dark-primary);
}
.exp_card {
  background-color: var(--background);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  border-radius: 22px;
  background: linear-gradient(145deg, #1e1e1e, #232323);
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #242424;
  width: 90%;
}
.exp_card_second_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp_card div p,
.exp_card div ul li {
  font-size: 1rem;
  color: #ffffff;
}
.exp_card div ul {
  /* background-color: #00000035; */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-top: 1px solid var(--background);
}

.exp_background_line {
  height: 100%;
  width: 3px;
  background-color: var(--dark-primary);
  position: absolute;
  left: 17%;
}
.exp_links {
  margin: 0 5px;
  color: var(--text);
  font-size: 1rem;
}
/* Skill styles using variables */

.skill {
  width: 100%;
  min-height: 100vh;
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-around;
  padding: 3vh 0;
  position: relative;
  margin-top: 10vh;
}

.skill_heading {
  margin: 2rem 5rem;
  padding-left: 3rem;
  font-size: 3.2rem;
}

.skill_list_area {
  width: 100%;
  height: max-content;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  padding: auto;
  align-items: center;
  /* position: absolute; */
}

.skill_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.skill_category {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--primary-color);
}

.skill_category:hover {
  transform: scale(1.03);
}

.skill_category div {
  padding-left: 2rem;
}
.skill_category div ul {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}
.skill_category div ul li {
  margin: 1rem;
  display: flex;
  gap: 0.8rem;
}

.skill_item {
  display: flex;
  gap: 5rem;
  align-items: center;
  font-weight: bold;
}

.skill_item img {
  height: 40px;
  width: 40px;
}

.skill_bubble_area {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: relative;
}

.skill_bubble_transparent {
  position: absolute;
  height: 6rem;
  width: 6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--dark-primary);
}

.skill_bubble_dark {
  position: absolute;
  height: 6rem;
  width: 6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--dark-primary);
  color: #fff;
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}

.skill_bubble_dark {
  animation: flicker 9.2s infinite;
}

.skill_bubble_transparent {
  animation: flicker 9.5s infinite;
}

/* Project styles using variables */

.project {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.cancalIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem !important;
  cursor: pointer;
  color: var(--dark-primary);
}

.project_heading {
  color: var(--primary-color);
}

.project_search {
  width: 800px;
  color: var(--darktext);
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1rem;
  padding: 5px 15px;
  outline: 0;
  margin: 20px 0 40px 0;
}

.project_filter {
  width: 80%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.selectButton {
  border: transparent;
  border-radius: 3px;
  background-color: var(--dark-primary);
  font-size: 1rem;
  margin: 4px 3px;
  padding: 3px 8px;
}

.selectedButton {
  border: transparent;
  border-radius: 3px;
  background-color: var(--dark-primary);
  color: #fff;
  font-size: 1rem;
  margin: 4px 3px;
  padding: 3px 8px;
}

.projects_area {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.project_card {
  border-radius: 1rem;
  background-color: transparent;
  width: 28%;
  height: 200px;
  padding: 0 4px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 22px;
  background: linear-gradient(145deg, #1e1e1e, #232323);
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #242424;
}

.project_card_hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: var(--background);
  border-radius: 1rem;
}

.project_card_icons {
  padding-left: 9rem;
  padding-right: 1rem;
  width: 100%;
  height: 7rem;
  display: flex;
  border-radius: 1.1rem 1.1rem 0 0;
  display: flex;
  justify-content: space-around;
  span {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    color: var(--text);
    svg {
      font-size: 2.5rem !important;
    }
  }
}

.project_card_tags {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem 2rem;
  font-size: 13px;
  color: var(--text);
  span {
    margin: 0 0.3rem;
  }
}
.project_card_front_image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 1rem;
  transition: 0.8s ease-in-out;
}

.project_card:hover .project_card_title {
  border-top: 1px solid var(--text);
}

.project_card:hover .project_card_front_image {
  height: 7rem;
  width: 7rem;
  padding-top: 0.6rem;
  padding-left: 0.6rem;
  filter: invert();
  box-shadow: rgba(93, 162, 236, 0.17) 0px -23px 25px 0px inset,
    rgba(25, 72, 153, 0.15) 0px -36px 30px 0px inset,
    rgba(196, 42, 42, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px inset, rgba(219, 32, 32, 0.09) 0px 4px 2px,
    rgba(12, 47, 78, 0.09) 0px 8px 4px, rgba(24, 158, 17, 0.09) 0px 16px 8px,
    rgba(13, 120, 113, 0.09) 0px 32px 16px;
}

.project_card_title {
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  padding: 4px 0;
  border-radius: 0 0 1rem 1rem;
  transition: 0.8s ease-in-out;
}

.project_all_button {
  padding: 5px 10px;
  outline: 0;
  font-size: 1.4rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-left: 85%;
}

.project_all_button:hover {
  background-color: var(--dark-primary);
  color: #fff;
  border-color: #fff;
}

.project_fc {
  position: relative;
  height: 70vh;
  width: 80vw;
  margin: 2rem auto;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.383);
  display: flex;
  justify-content: space-evenly;
  margin-top: 20vh;
}

.project_fc_left_div {
  width: 45%;
  height: 100%;
}

.project_fc_left_div h1 {
  padding: 2rem 0 0 2rem;
}

.project_fc_left_div h3 {
  padding-left: 2rem;
  font-weight: 400;
}

.project_button_box {
  margin: 0rem;
  padding-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.project_button {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 0.2rem;
  background-color: transparent;
  color: var(--darktext);
  display: flex;
  gap: 1rem;
}

.project_button:hover {
  color: var(--primary-color);
  border-color: var(--darktext);
  cursor: pointer;
}

.project_fc_image {
  width: 90%;
  height: 60%;
  margin-top: -2rem;
  margin-left: 5%;
  border-radius: 1rem;
  box-shadow: 0 1px 2px #000000a2;
}

.project_tags {
  padding: 5px 1rem;
  margin: 1rem;
  color: var(--dark-primary);
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.project_tags li {
  margin: 0 1rem;
  list-style-type: square;
  min-width: 100px;
}
.project_fc_right_div {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  h1 {
    color: var(--primary-color);
  }
}

.project_desc {
  font-size: 1rem;
  /* height: 250px; */
  max-height: calc(75% * 1);
  overflow: scroll;
  padding: 1rem 1.5rem;
  list-style: none;
  li {
    margin: 0.3rem 1rem;
  }
}

.project_fc_right_div .readme_link {
  width: fit-content;
  box-shadow: 0 1px 2px #00000031;
  padding: 0.5rem;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  margin-top: 10vh;
}

.contact_upper_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 20px;
  /* height: 70vh; */
  padding-top: 20vh;
  border-radius: 0 0 10% 10%;
  background-color: var(--primary-color);
}

.contact_left_div h1 {
  margin-bottom: 8px;
}
.cont_first_row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
.contact_mail_button,
.resume_button {
  padding: 1.5rem 3rem;
  border: 0;
  background-color: var(--dark-primary);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.2s ease-in-out;
}
.contact_mail_button a,
.resume_button a {
  color: var(--darkgray) !important;
}
.contact_mail_button:hover,
.resume_button:hover {
  border: 3px solid black;
}

.contact_social_media {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  min-height: 25vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    min-width: 100px;
  }
}

.cont_agency_block {
  color: var(--primary-color);
  display: flex;
  font-size: 1.6rem;
  font-weight: 800;
  align-items: center;
  margin-bottom: 5rem;
  justify-content: center;
  a {
    flex-direction: row !important;
    max-width: 60%;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin-left: 2rem;
    svg {
      font-size: 3rem !important;
    }
  }
}

/* footer */
.footer {
  display: flex;
  color: var(--primary-color);
  background-color: var(--background);
  border-top: 0.5px solid var(--text);
  margin-top: 3rem;
  /* padding: 3px 0; */
}
.footer_row {
  display: flex;
}
.footer_navigation_links {
  display: none;
  color: var(--text-light);
}
.footer_navigation_links span {
  margin: 0.2rem 2rem;
}
.footer_navigation_links span a {
  color: whitesmoke;
  font-size: 0.8rem;
}
.footerLastLine {
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

.socials-container {
  width: 300px !important;
  height: 4.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px 40px;
  background-color: var(--background);
  border-radius: 5px;
}
.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}
.twitter:hover {
  background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}
.facebook:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}
.google-plus:hover {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social svg {
  fill: white;
  height: 20px;
}
