/**
 * For Tablets (landscape)
 *
 * @format
 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .home {
    height: 80vh;
  }
  .home_intro_area p {
    width: 90%;
  }

  .home_intro_area button {
    font-size: 1rem;
  }

  .home_image_area,
  .home_image_circle {
    width: 250px;
    height: 250px;
  }

  .home_masked_profile {
    margin-top: -60px;
  }

  .home_icon {
    font-size: 0.6rem;
  }

  .about_left_div img {
    width: 20vw;
  }

  .about_right_div {
    width: 55vw;
  }

  .about_lower_row,
  .about_lower_first_row,
  .about_lower_second_row {
    flex-direction: column;
  }
}

/* for phones */
@media screen and (max-width: 450px) {
  .home {
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
  }
  .home_image_area {
    height: 60vh;
    margin: 0 auto;
    margin-top: -5vh;
  }
  .home_intro_area {
    width: 90%;
    margin: 1rem;
    font-size: smaller;
  }
  .home_intro_area p {
    width: 100%;
  }
  .home_icons {
    margin-bottom: 0;
  }
  .about_left_div {
    display: none;
  }
  .about_right_div {
    width: 100%;
    overflow-y: scroll;
    margin-right: 0;
    padding: 1rem;
    margin-top: 4vh;
  }
  .about_lower_first_row {
    flex-direction: column;
  }

  .ed_main_row {
    flex-direction: column;
    height: max-content;
  }
  .education_timeline {
    width: 100%;
    font-size: 0.8rem;
    height: 30vh;
  }
  .ed_edFullBox {
    width: 90%;
    height: auto;
    margin: 2rem 0;
  }
  .skill_list_area {
    width: 100%;
    padding: 25px;
  }
  .skill_list {
    width: 100%;
    flex-direction: column;
  }
  .skill_category {
    width: 100%;
  }
  .skill_category div{
    margin: 0;
    padding: 0;
  }
  .skill_category div ul{
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .skill_category div li{
    margin: .4rem !important;
  }
  .exp_list_area {
    padding: 1rem;
  }
  .exp_item {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .exp_timeline_icon svg {
    font-size: 2rem !important;
    display: none;
  }
  .exp_card h1 {
    font-size: 2rem;
    margin: 0;
  }
  .exp_card_second_row {
    flex-direction: column;
    gap: 6px;
  }
  .exp_card_second_row h3 {
    font-size: 1.3rem;
    margin: 0.3rem;
  }
  .exp_card_second_row p {
    margin-bottom: 3px;
  }

  .projects_area {
    flex-direction: column;
    height: auto;
  }
  .project_card {
    width: 100%;
  }
  .project_fc {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 5rem;
  }
  .project_fc_image {
    width: 100%;
    height: auto;
  }
  .project_fc_left_div {
    width: 100%;
    height: auto;
  }
  .project_button_box {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
  }
  .project_fc_right_div {
    width: 100%;
    height: auto;
  }
  .project_fc_right_div .project_tags {
    padding: 5px 0;
  }
  .cancalIcon {
    top: -4rem;
    right: 0.5rem;
  }
  .contact {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 3rem 0;
    gap: 3rem;
  }
  .contact_left_div {
    width: 90%;
    height: auto;
    padding: 1rem;
    font-size: small;
    gap: 10px;
  }
  .contact_right_div {
    width: 100%;
    height: auto;
  }
  .contact_mail_button,
  .resume_button,
  .contact_send_message {
    margin: 0;
    padding: 4px;
    font-size: 1.15rem;
  }
  .resume_button,
  .contact_send_message {
    padding: 10px;
  }
  .contact_social_media {
    align-items: center;
  }
  .contact_right_div {
    width: 100%;
  }
  .contact_right_div form {
    width: 90%;
    margin: auto;
  }
  .footer {
    flex-direction: column;
  }
  .footer_navigation_links {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}
